LIBRARY=../ARCTICsim/thermo_libs/thermo_lib_id_xtalk_1only_norm_mu15_h548.json
#LIBRARY=../ARCTICsim/thermo_libs/thermo_lib_id_xtalk_single_mean_10percent.json
#LIBRARY=../ARCTICsim/thermo_libs/thermo_lib_id_xtalk_mean_10percent.json
#LIBRARY=../ARCTICsim/thermo_libs/thermo_lib_id_ideal_coop.json
COMPAT_LIBRARY=../ARCTICsim/thermo_libs/compatibility/compatibility_3dBsig_id_coop.json
SEARCH_ALGORITHM=BNB
OPTIMIZATION_TYPE=MAXIMIZE
STATISTICS=TRUE
BAB-SEARCH_STRATEGY=BEST_FIRST_SEARCH
BAB-TYPE=EAGER
BAB-VISUALIZE=TRUE
BAB-STATISTICS=TRUE
BAB-FAST=TRUE