#LIBRARY=../ARCTICsim/thermo_libs/hill-parameters/thermo_lib_id_ideal_coop.json
#LIBRARY=../ARCTICsim/thermo_libs/evaluation/dirichlet/thermo_lib_id_xtalk_all_dirichlet_2tot0.15.json
LIBRARY=../ARCTICsim/simulator_nonequilibrium/data/gate_libs/gate_lib_yeast_cello_data_fixed_limits.json
#COMPAT_LIBRARY=../ARCTICsim/thermo_libs/compatibility/compatibility_3dBsig_id_coop.json
SEARCH_ALGORITHM=ANNEALING
OPTIMIZATION_TYPE=MAXIMIZE
STATISTICS=FALSE
BAB-SEARCH_STRATEGY=BEST_FIRST_SEARCH
BAB-TYPE=EAGER
BAB-VISUALIZE=FALSE
BAB-STATISTICS=FALSE
BAB-FAST=FALSE