LIBRARY=../ARCTICsim/gate_libs/gate_lib_particles_id_cytotox_5kp.json
#LIBRARY=../ARCTICsim/thermo_libs/thermo_lib_id_basic.json
SEARCH_ALGORITHM=BRANCH_AND_BOUND
OPTIMIZATION_TYPE=MAXIMIZE
STATISTICS=FALSE
BAB-SEARCH_STRATEGY=BEST_FIRST_SEARCH
BAB-TYPE=EAGER
BAB-VISUALIZE=FALSE
BAB-STATISTICS=FALSE
BAB-FAST=FALSE