SIM_ENABLED=true
PYTHON_BINARY=python3.8
SIM_LIMIT_THREADS_NUM=1
SIM_PATH=../ARCTICsim/simulator_thermodynamics
SIM_SCRIPT=circuit_simulator_thermo_v1.0.py
#SIM_INIT_ARGS=--nMax=5000 --em=f --p=t --tox=t
#SIM_ARGS=--n=5000 --p=t --em=f --wasserstein_p=1. --dist=ws-log-exp-asym
SIM_INIT_ARGS=-t=1
SIM_ARGS=
