SIM_ENABLED=false
PYTHON_BINARY=python3.6
SIM_LIMIT_THREADS_NUM=1
SIM_PATH=../ARCTICsim/simulator_envelop_support
SIM_SCRIPT=CircuitSimulator_VX_1.py
#SIM_INIT_ARGS=nMax=5000 em=f p=t tox=t
#SIM_ARGS=n=5000 p=t em=f wasserstein_p=1. dist=ws-log-exp-asym
SIM_INIT_ARGS=nMax=1 wh=1 tox=t
SIM_ARGS=n=1 dist=cello
